<div class="card recent-orders">

    <h3>Pedidos recientes</h3>


    <div class="table-container">

        <table>

            <thead>

                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Total</th>
                </tr>

            </thead>


            <tbody>

                @for(order of orders; track order.id){

                <tr>

                    <td>
                        {{ order.id }}
                    </td>


                    <td>
                        {{ order.customer?.name }}
                    </td>


                    <td>

                        <span
                        class="status"
                        [ngClass]="{
                            'status-processing': order.status === 'En proceso',
                            'status-delivered': order.status === 'Entregado',
                            'status-cancelled': order.status === 'Cancelado',
                            'status-pending': order.status === 'Pendiente'
                        }">

                            {{ order.status }}

                        </span>

                    </td>


                    <td>

                        {{ order.total | currency:'COP':'symbol':'1.0-0' }}

                    </td>


                </tr>

                }

            </tbody>


        </table>


    </div>


</div>