.dashboard{

    display:flex;

    min-height:100vh;

    background:#f1f5f9;

}

.main-content{

    margin-left:260px;

    width:calc(100% - 260px);

    min-height:100vh;

    display:flex;

    flex-direction:column;

}

.page-content{

    flex:1;

    padding:25px;

}